.time-allocation {
  display: flex;
  flex-direction: column;


  .time-allocation-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    gap: 10px;

    width: 219px;
    height: 29px;

    background: #2D3748;
    border-radius: 20px 20px 0px 0px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    .time-allocation-header-text {
      width: 120px;
      height: 19px;

      /* text */

      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;

      color: #FFFFFF;


      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
      ;
    }
  }



  .time-allocation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 20px;
    gap: 20px;

    width: 219px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

    .pie-chart {
      width: 160px !important;
      height: 160px !important;
    }

    .time-allocation-content-items {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;

      padding: 0;
      margin: 0;
      width: 160px;

      .tac-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        font-size: 20px;

        .tac-item-content {
            height: 15px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #000000;
            flex:1
        }

        .tac-item-percent {
          height: 15px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */
          color: rgba(0, 0, 0, 0.87);
          flex:0
        }
      }

      .ass-lab {
        color: #F4BE37;
      }
      .con-lec {
        color: #FF9F40;
      }
      .gui-rev {
        color: #0D2535;
      }
      .tes_qui {
        color: #5388D8;
      }
      .exam {
        color: #206EE5;
      }

      .tac-item:before {
        content: "·";
        font-size: 50px;
        vertical-align: middle;
        line-height: 20px;
        padding-right: 2px;
      }

    }
  }
}